/* FONTS */

@font-face {
    font-family: "Calamity Regular";
    src: url("../fonts/CalamityRegular/CalamityRegular.otf");
}

@font-face {
    font-family: "Calamity Bold";
    src: url("../fonts/CalamityRegular/CalamityBold.otf");
}

/* GENERAL STYLE */

body {
    min-height: 100vh;
    min-width: 100vh;
    background-color: black;
}

#background-image {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    background-image: url("../images/background.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    -webkit-filter: blur(7px) brightness(0.25);
    -moz-filter: blur(7px) brightness(0.25);
    -o-filter: blur(7px) brightness(0.25);
    -ms-filter: blur(7px) brightness(0.25);
    filter: blur(7px) brightness(0.25);
}

#wrapper {
    position: relative;
    font-family: Calamity Regular;
    color: white;
    /* background-color: black; */
    height: 100%;
    min-width: 100%;
    z-index: 2;
}


/* HEADER */

header {
    display: flex;
    justify-content: space-between;
    padding: 3rem 4rem;
}

#heart-gauge {
    display: flex;
    align-self: flex-start;
}

.heart-gauge__heart {
    width: 19px;
    margin-right: 2px;
}

#title {
    text-align: center;
}

h1 {
    font-family: Calamity Bold;
    font-size: 2rem;
    text-align: center;
}

#title > p {
    text-align: center;
    color: rgba(255, 255, 0, 0.87);
}

#rupees {
    display: flex;
    align-items: center;
}

#rupees > p {
    font-size: 1.1rem;
}

.rupees__icon {
    height: 32px;
    margin-right: 10px;
}


/* CONTENT STYLE */

main {
    height: 50%;
}

#container {
    margin: 5rem 0 4rem 4rem;
    padding: 3rem;
    height: 50%;
    box-shadow: inset 0 0 2px 1px rgb(128, 128, 128, 0.4); /* box shadow for smoother borders */
    clip-path: inset(-5px 3px -5px -5px); /* remove border/shadow on the right side for style purposes */
    border-right: none;
}